body{
	background: #23232D;
	padding: 20px 5px;
}
.container{
	margin: 0 auto;
	max-width: 800px;
}
.form {
	max-width: 800px;
	padding: 20px;
	background: rgb(255, 255, 255);
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 25px;
}
.form__input {
	width: 100%;
}
.form__display {
	display: flex;
	justify-content: space-between;
}
.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	max-width: 800px;
	margin: 0 auto;
	font-size: 22px;
}
.card, .card__overturned {
	position: relative;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	padding: 40px 5px 10px 5px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid #D8C7C7;
	box-sizing: border-box;
	border-radius: 5px;
	letter-spacing: 0.13em;
	border: 0px;
}
.card:nth-child(3n), .card__overturned:nth-child(3n) {
	margin-right: 0px;
}
.card {
	background: #8ac186;
}
.card:hover {
	outline: 3px solid #ffffff;
}
.card__overturned {
	background: #7986CB;
}
.card__overturned:hover {
	outline: 3px solid #ffffff;
}
.card__delete {
	position: absolute;
	top: 10px;
	right: 10px;
}
.card__star {
	position: absolute;
	top: 10px;
	left: 10px;
}


.card-enter {
	transform: scale(0);
}
.card-enter-active {
	transform: scale(1);
	transition: all 300ms ease;
}
.card-exit {
	transform: scale(1);
}
.card-exit-active {
	transform: scale(0);
	transition: all 300ms ease;
}

@media (max-width: 680px) {
	.form {
		padding: 15px;
		margin-bottom: 15px;
	}
	.cards {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
		font-size: 16px;
	}
	.card__delete, .star {
		width: 20px;
	}
	.card__flip {
		top: -22px;
		left: 12px;
		font-size: 22px;
	}
}
@media (max-width: 420px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
	}
}